<% include partials/header %>
        <div class="container">
            <div class="row">
                <div class="col">
                    <% include partials/nav %>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1>Welcome to the <%= title %> page</h1>
                    <% if(isLoggedIn === true) { %>
                        <p>Welcome <%= name %>.  <a class='btn btn-link' href='/logout' title='Logout'>Logout</a></p>
                    <% } %>
                    <h3>Create a secret</h3>
                        <form action='/secrets' method='POST'>
                            <div class="form-group">
                                <label for='content'>Add Secret:</label>
                                <input class='form-control' type=text name='content'>
                            </div>
                            <div class="form-group">
                                <button type=submit class='btn btn-primary btn-sm'>Submit</button>
                            </div>
                        </form>
                    <!-- tip to easily see objects printed in full instead of [object Object] -->
                    <!-- JSON.stringify(messages) --> 
                    <!-- based on the structure of your messages, determine how to display them -->
                    <% if(messages.create_secret_error) { %>
                        <ul>
                        <% for (const message of messages.create_secret_error) { %>
                            <li class='error'><%= message %></li>
                        <% } %>
                        </ul>
                    <% } %>
                        <h3>All the secrets </h3>
                        <% for(let index = 0; index < secrets.length; index++) { %>
                            <p><%= secrets[index].content %> <a href='/secrets/<%=secrets[index]._id%>'>Show</a></p>
                            <% if(user_id == secrets[index].author_id){ %>
                            <form action='/secrets/<%=secrets[index]._id%>/delete' method='POST'>
                                <div class="form-group">
                                    <button type=submit class='btn btn-primary btn-sm'>Delete</button>
                                </div>
                            </form>
                            <% } %>
                        <% } %>
                </div>
            </div>
        </div>
<% include partials/footer %>